DEBUG=1
SECRET_KEY=django-insecure-change-me-in-production
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=iot_db
SQL_USER=iot_user
SQL_PASSWORD=iot_password
SQL_HOST=db
SQL_PORT=5432
